<div class="{{className}}" draggable="true" id="{{script.code}}" (drop)="drop($event)" (dragstart)="drag($event)" (dragover)="allowDrop($event)">
  <div class="script-top">
    <div style="text-align: left;">
      <span class="last-refreshed hide"> {{script.lastRefreshed}} </span>
  </div>
    <div class="closeExpand">
      <a (click)="expandView($event)" href="">X</a>
    </div>
  </div>
  <div class="allign-center">
  <div class="script-title"><span class="display-small-only">{{script.name}}</span><span class="display-large-only">{{script.scriptFullName}}({{script.code}})</span></div>
  <div class="script-current-quote {{script.previousClose > script.close ? 'red' : 'green' }}">{{script.close}} <i class="fa fa-heart" aria-hidden="true"></i></div>
  <div class="{{script.previousClose > script.close ? 'red' : 'green' }}"> {{ ( script.close - script.previousClose).toPrecision(2)}} <span>|</span> {{(((100 * script.close)/script.previousClose) - 100).toPrecision(2)}}%</div>

  <div class="high-low-container">
    <div><span>High :</span><span>{{script.high}}</span></div>
    <div><span>Low :</span><span>{{script.low}}</span></div>
    <div class="display-large-only"><span>Open :</span><span>{{script.open}}</span></div>
  </div>
  <div class="display-large-only"><span>Volume : {{script.volume}}</span></div>

  <app-scriptgraph [scriptCode]="script.code" class="graph-holder"></app-scriptgraph>


  <div class="icon-holder-close">
      <span>
        <a class="hide" href="https://www.google.com/finance?q={{script.code}}" target="_blank"><i class="fa fa-google" aria-hidden="true"></i></a>
      <a href="http://www.nasdaq.com/symbol/{{script.code}}" target="_blank"><i class="fa fa fa-external-link" aria-hidden="true"></i></a>
     </span>

    <span class="closeIcon">
      <a (click)="expandView($event)" href=""><i  class="fa fa-line-chart" aria-hidden="true"></i></a>
      <a (click)="closeTheScript($event,script.code)" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </span>
  </div>
</div>

</div>
