.grid-item {
  width: 160px;
  height: 120px;
  float: left;
  background: white;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--height2 { height: 200px; }
.grid-item--height3 { height: 200px; }
.grid-item--height4 { height: 200px; }

.container-layout{

  div{
    padding-bottom: 5px;
  }
  text-align: center;
  font-size: 16px;
  padding: 10px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 1px 3px 5px #888888;
}

.high-low-container{

  span{
    padding-right: 5px;
  }
}
.icon-holder-close{
  display: flex;
  justify-content: space-between;
}

.script-current-quote{
  font-size: 20px;
  font-weight: bold;
}
.graph-holder{
  display:none;
}
.position-center{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 40%;
  top: 15%;
  z-index: 10;

  .graph-holder{
    display: block;
  }

  .closeExpand{
    display:block;
  }

  .icon-holder-close{
    margin-top: 20px;
  }

  .script-top {
    position: relative;
  }

  .allign-center{
    transform: none;
  }

  .overlay {
    display: block;
  }

  .script-top{
    z-index: 15;
  }

  .high-low-container {
    display: flex;
    justify-content: center;

    div:nth-child(2){
      padding: 0px 20px 0px 20px;
    }
  }

  .display-large-only{
    display:block;
  }

  .display-small-only{
    display:none;
  }
}

.grid-item--width3 .high-low-container {
  div:nth-child(2){
    padding: 0px 20px 0px 20px;
  }
}
.grid-item--width3,.grid-item--width2 {

  .high-low-container {
    display: flex;
    justify-content: center;
  }

  .display-large-only{
    display:block;
  }

  .display-small-only{
    display:none;
  }
}

.display-small-only{
  display:block;
}

.position-center.grid-item--height2{
  height: auto;
}

.closeExpand{
  display:none;
  a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 200;
  }

  a:hover{
    font-weight: 400;
  }

}

.red{
  color: red;
}

.green{
  color: green;
}

.script-top{
  position: absolute;
  display: flex;
  justify-content: space-between;
  .last-refreshed{
    font-size: 10px;
  }
}

.display-large-only{
  display:none;
}

//.allign-center{
//  position: relative;
//  top: 50%;
//  -webkit-transform: translateY(-50%);
//  -ms-transform: translateY(-50%);
//  transform: translateY(-50%);
//}

.script-title{
  font-weight: 500;
  font-size: 18px;
}

@media only screen and (max-width: 500px) {
  .position-center{
    width: auto;
  }

  grid-item--width2 grid-item--height2, .grid-item--width3, .grid-item--height2, .grid-item--width2, .grid-item{
    width: 100%;
  }

  .grid-item{
    float: none;
  }
}
