$fa-font-path : '../node_modules/font-awesome/fonts';
$screen-xs:544px;  //Extra small devices Portrait phones (<544px)
$screen-sm:768px;  //Small devices Landscape phones (≥544px - <768px)
$screen-md:992px;  //Medium devices Tablets (≥768px - <992px)
$screen-lg:1200px;  //Large devices Desktops (≥992px - <1200px)
$screen-xl:1400px;  //Extra large devices Desktops (≥1200px)
