.navbar {
  margin-bottom: 0px;
}

.float-left{
  float:left;
}

input{
  width: 100%;
  height: 40px;
  border: none;
  width: 396px;
  height: 50px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}




* { box-sizing: border-box; }

body { font-family: sans-serif; }

/* ---- grid ---- */

.add-icon{
  font-size: 35px;
  padding: 8px;
  color: darkblue;
}

.modal-body{
  display: flex;
}

.script-holder-main{
  background: #D26;
}

.search-request{

  .modal-content {
    position: relative;
    background-color: transparent;
    background-clip: padding-box;
    border: 0px;
    border-radius: 0px;
    outline: 0;
    box-shadow: none;
  }

  input, .fa-times{
    display:none;
  }
  .fa-plus-circle {
    position: absolute;
    font-size: 75px;
    -webkit-animation:spin 1s linear infinite;
    -moz-animation:spin 1s linear infinite;
    animation:spin 1s linear infinite;
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

}

#exampleModal{
  background: rgba(255, 255, 255, 0.5);
}

.random-icon{
  font-size: 25px;
  padding: 10px;
  vertical-align: middle;
}

//.modal.show{
//
//  .modal-dialog{
//    position: relative;
//    top: 50%;
//    -webkit-transform: translateY(-50%);
//    -ms-transform: translateY(-50%);
//    transform: translateY(-50%);
//  }
//
//}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.bottom-form-holder, .fixed-bottom{
  z-index: 1;
}

.demoTicker{
  height: auto !important;
  width: auto !important;
}

#script-input:focus{
  border: 2px solid darkblue;
}
